<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	   
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">      
</head>
<body>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">      
	<link rel="stylesheet" href="../styles/null.css">


			<link rel="stylesheet" href="/styles/null.css">
			<link rel="stylesheet" href="/styles/main.css">
			<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
			<div id="app" >
							<div class="conent">
								<a class="button-left btn"href="#">Просмотр данных в режиме реального времени</a>
								<a class="button-right btn" href="/info_about/info_about.html">Просмотр данных из файла</a>
							</div>
							<div class="token">
								<div class="token__items">
									<p>Ваш личный токен:</p>
									<div class="item">
										<input type="checkbox" id="checkbox" v-model="checked">
										<input  type="password" v-if="checked" value="esfrghjhffdsfedg" for="checkbox" >
										<input  type="text" v-if="!checked" value="esfrghjhffdsfedg" for="checkbox" > 
									</div>
								</div>
							</div>
			</div>
</body>
<script>
var app = new Vue({
  el: '#app',
  data: {
    checked: 'true',
  }
})
	
</script>
</html>