@charset "UTF-8";
@font-face {
  font-family: 'MES';
  src: local("☺"), local("☺"), url("../fonts/Madeevolvesansbold.woff2") format("woff2"), url("../fonts/Madeevolvesansbold.woff") format("woff"), url("../fonts/Madeevolvesansbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

* {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em; }

#app {
  height: 100%; }

.wrapper {
  height: 100%;
  overflow: hidden; }

form {
  height: 100%; }

.form-reg {
  margin: 64px 0 0 0;
  height: 70%; }

.tabs__body {
  padding: 1.5em 0 1.5em 0;
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.tabs__block {
  background-color: #fff;
  width: 60%;
  margin: 0 auto;
  -webkit-box-shadow: 1px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px; }

.tabs__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #7e8d90;
  margin: 1em 2em;
  padding: 1em 0 1em 0; }

.tabs__title {
  font-size: 1.5em; }

.tabs__red {
  position: relative;
  font-size: 1em;
  color: #7e8d90; }
  .tabs__red:after {
    content: '';
    background: url();
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px; }

.tabs__info {
  padding: 1em 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.tabs__list {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 20%;
  flex: 0 1 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.tabs-list__item {
  font-size: 1.2em;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .tabs-list__item:first-child {
    padding: 1em 0  1em 0; }
  .tabs-list__item:last-child {
    padding: 1em 0 1em 0; }

.tabs-list__bui1 {
  padding-top: 0.8em; }

.tabs-list__bui2 {
  padding-top: 1.5em; }

.tabs-list__bui3 {
  margin-top: 0.8em; }

.tabs__input {
  padding: 0 0 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.tabs-input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 80%;
  flex: 1 1 80%; }

.tabs-input__item {
  font-size: 1.2em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .tabs-input__item input, .tabs-input__item textarea {
    border-radius: 5px;
    padding: 10px;
    background-color: #f5f3f3;
    width: 100%;
    -webkit-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s; }
  .tabs-input__item input:hover, .tabs-input__item textarea:hover {
    background-color: #DCDADA;
    -webkit-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }

.tabs-input__text1 {
  padding: 0.5em 0; }

.tabs-input__text2 {
  padding: 0.6em 0; }

.tabs-input__text3 {
  padding: 0.8em 0 0.8em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.tabs-input__input-lat {
  margin: 0  0 0 1em; }

.tabs-input__input-lang {
  margin: 0 1em  0  0; }

.tabs__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 2em 0; }
  .tabs__img img {
    width: 300px;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover; }

.submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 0 2em 0; }
  .submit input {
    border-radius: 6px;
    padding: 0.8em 1.5em 0.8em 1.5em;
    background-color: #12aff0;
    color: #fff;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
  .submit input:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }
  .submit p {
    padding: 1em 0 0 0;
    font-size: 0.8em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
