* {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em; }

body {
  overflow: hidden; }

#app {
  margin-top: 96px;
  overflow: hidden; }

.conent {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.btn {
  -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding: 16px;
  width: 40%;
  text-align: center;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  color: #000; }
  .btn:hover {
    background-color: #f5f3f3; }

.token {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px; }

.token__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .token__items p {
    font-size: 2em; }

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.1em; }
  .item input {
    text-align: right;
    font-size: 2em;
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 50%; }
  .item input[type="text"], .item input[type="password"] {
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
    text-align: left; }
